html, body {
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

section {
	margin-top: 2rem;
}

p {
	max-width: 80ch;
	margin-bottom: 1rem;
}

#map {
	height: 100vh;
}

#chart {
	display: block;
	width: 100%;

	& svg {
		width: 100%;
	}
}
